.paragraph--menu-header {
    /*font-family: lexend;*/
    font-size: 12px;
    margin: 0; /* Elimina margen adicional en el texto */
    padding: 0;
}
.wrapper--menu-header{
    display: flex;
    align-items: flex-start; /* Alinea el contenido al principio del contenedor */
    height: auto;    
}
