.sliderLayoutContainer--imageScreen_slider2 {
  padding: 20px;
  margin-bottom: 10px;
}

/*Silder 2 product summary*/
.sliderTrack--second-slider2--text {
  width: 1092px;
  height: 378px;
  padding: 20px;
  margin-bottom: 10px;  
}

.slide--second-slider2--text {  
  height: 378px !important;
  width: 212px !important;  
}

.slideChildrenContainer--second-slider2--text {
  background-color: rgb(255, 255, 255);
  height: 378px;
  width: 212px;
}


.buttonDataContainer--comprarButton{
  background-color: white;
  height: 378px;
  width: 212px;
   }

   
/* Media Queries */

/* Estilos para pantallas de escritorio grandes */
@media (min-width: 992px) {
  .sliderLayoutContainer--slider {
    padding: 20px;
    margin-bottom: 10px;
  }

  .sliderLayoutContainer--imageScreen_slider2 {
    padding: 20px;
    margin-bottom: 10px;
  }

  .sliderTrack--second-slider2--text {
    width: 1092px;
    height: 378px;
    padding: 20px;
    margin-bottom: 10px;  
  }

  .slide--second-slider2--text {
    height: 378px !important;
    width: 212px !important;
  }

  .slideChildrenContainer--second-slider2--text {
    height: 378px;
    width: 212px;
  }

  .element--slider2Container {
    height: 378px;
    width: 212px;
  }
}

/* Pagination Dot*/
.paginationDot--isActive::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #1D2734;
  border-radius: 50%;
}
.paginationDot::after {
  width: 44px;
  height: 2px;
  content: "";
  font-size: 0;
  background-color: #1D2734;
  position: absolute;
}
.paginationDot {
  width: 44px !important;
  height: 40px !important;
  border-radius: 0;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}
.paginationDotsContainer--slider, .paginationDotsContainer--second-slider2--text{
  width: 231px;
  height: 51px;
  top: 380px;
  left: 524px;
}
.sliderTrackContainer {
  margin-bottom: 55px;
  margin-left: 10px;
  /*padding-left: 10px; */
  /* width: 242px;
    height: 240.11px; */
  border-radius: 8px;
}
@media (max-width: 768px) {
  .paginationDotsContainer--slider, 
  .paginationDotsContainer--second-slider2--text {
    width: 100%; /* Ancho completo del contenedor en pantallas pequeñas */
    height: auto; /* Altura automática */
    top: auto; /* Remover la posición fija */
    left: auto; /* Remover la posición fija */
    margin: 0 auto; /* Centrar horizontalmente */
  }

  .paginationDot {
    width: 36px; /* Tamaño ajustado para pantallas pequeñas */
    height: 30px; /* Tamaño ajustado para pantallas pequeñas */
  }

  .paginationDot::after {
    width: 36px; /* Tamaño ajustado para pantallas pequeñas */
  }
}