/*slider 1*/
.flexRow--Slider__cointeiner {
  width: 100%;
  height: 420px;
  margin: 0;
  background-color: #f5f4f6;
}

/*card slider 1 container*/
.flexRow--image_slider1--desktop {
  margin: 20px;
}

/*slider 1 container text, paragraph and logo 2*/
.flexRowContent--text--card {
  padding: 10px;
}
.flexRowContent--row_image--phone {
  width: 324px;
  height: 186px;
}

/*Separator Amazing Products*/
.flexRow--desktopContainerTotal {
  margin: 5px;
}
/*button wish list summary
.flexRowContent--savings__and__wishlist__row--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}*/
.flexRow--savings__and__wishlist__row--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  
}

/*Header Icons*/
.flexRowContent--header-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Cambia de 'left' a 'flex-start' para la compatibilidad con flexbox */
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: hidden; /* Oculta el desplazamiento vertical */
  white-space: nowrap; /* Evita el salto de línea en los íconos */
  margin-left: 0; /* Ajusta el margen según tus necesidades */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 1200px) {
  .flexRowContent--header-icons {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .flexRowContent--header-icons {
    margin-left: 20px;
    flex-direction: column; /* Cambia a columna en pantallas muy pequeñas */
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .flexRowContent--header-icons {
    margin-left: 0;
    flex-direction: column; /* Asegura que siga en columna en pantallas más pequeñas */
    align-items: center; /* Centra los íconos horizontalmente */
  }
}

.flexRowContent--header_desktop{
  display: flex;
  flex-direction: row;
  align-items: space-between;
}