/*
.paragraph--iWatch {
    color: rgba(29, 39, 52, 1);
    margin-top: 150px;
}

.paragraph--ultra2 {
    color: rgba(255, 131, 36, 1)
}

.paragraph--amazing {
    color: rgba(29, 39, 52, 1)
}
*/

/*Silder 1*/
.container--containerHeading {
    width: 147px;
    height: 25px;
    padding: 0px 0px 0px 13px;
    align-items: center;
    display: flex;
}

.container--paragraph1 {
    align-items: left;
    width: 247px;
    height: 55px;
}

.wrapper--paragraph1 {
    width: 247px;
    height: 55px;
    padding: 0px 0px 0px 13px;
    text-align: left;
}

/*container paragraph slider 1*/
.container--text-paragraph {
    width: 280px;
}

/*Text Separtor Amazing Products*/
.container--amazingP {
    height: auto;
}

.wrapper--amazingP {
    height: 30px;
}

/*Cards Info slider 1*/
.wrapper--card--button {
    width: 134px;
    height: 43px;
    border: 1px solid rgba(29, 39, 52, 1);
    border-color: rgba(29, 39, 52, 1);
    background-color: rgba(29, 39, 52, 1);
    border-radius: 40px;
    padding: 8px;
    gap: 8px;
    margin-top: 5px;
}

.wrapper--text--description {
    width: 247px;
    height: 30px;
    padding: 0px 0px 0px 13px;
}

.wrapper--text--title {
    width: 247px;
    height: 25px;
    padding: 0px 0px 0px 13px;
}

.paragraph--card--button {
    margin-top: 2px;
    color: rgb(255, 255, 255);
}

.link--card--button {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Cards Info slider 2*/
.paragraph--Slider-description-text {
    color: rgba(29, 39, 52, 0.6);
    align-items: center;
}

.container--Slider-description-text {
    margin-top: -30px;
}

.wrapper--Slider-description-text {
    width: 212px;
    height: 51px;
}

/*precio sin descuento contenedor*/
.paragraph--text_no_discount {
    color: rgba(29, 39, 52, 0.6);
    text-decoration: line-through;
    margin-top: 18px;
}

/*precio con descuento contenedor*/
.wrapper--text_discount {
    color: rgba(29, 39, 52, 1);
    width: 122px;
    height: 38px;
    margin-top: -25px;
}

.container--text_discount {
    width: 122px;
    height: 23px;
    text-align: center;
}

.wrapper--comprar--button {
    width: 212px;
    height: 48px;
    padding: 10px;
}
