/*Silder 2 product summary*/
.clearLink--slider2Container{
  width: auto;
  height: 378px;
}
.containerNormal--slider2Container{
  width: 212px;
  height: 378px;
}
.description--description--text {
  color: rgba(29, 39, 52, 0.6);
  opacity: 60%;
  font-family: "lexend";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.image--image--summary {
  margin-top: 10px;
  width: 178px;
  height: 140px;
  object-fit: contain; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
  max-width: 100%;   /* Asegura que la imagen no exceda el tamaño del contenedor */
  max-height: 100%;  /* Asegura que la imagen no exceda el tamaño del contenedor */
}
/*Diseño button*/
.container :global(.vtex-button) {
  width: 100%;
  height: 48px;
  padding: 0px;
  background:transparent;
  border-color:rgba(29, 39, 52, 1);
  border-radius: 8px;
}

